.container{

}

.grid{
    display: grid;
    grid-template-columns: repeat(calc(1 * var(--columnNumber)), 1fr);
    grid-column-gap: calc(var(--columnGap) + 10px);
    grid-row-gap: var(--columnGap);
}