html, body{
  padding: 0;
  margin: 0;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 10pt;
  line-height: 1.2em;
}

:root{
  --padding: 8px;
  --headerH: 33px;
  --logoW: 100px;
  --columnGap: 0.3%;
  --columnNumber: 5;
}

body{
  padding: var(--padding);
}